 <% provide(:title, "Sign Up") %>

<section class="hero">
	<div class="hero__content">
		<p class="eyebrow">Edit your profile</p>
		<h1 class="hero__title">Join the blog and start sharing ideas.</h1>
	</div>

	<div class="content-card content-card--narrow">
		<h2 class="section-title">Edit your profile</h2>
        <p></p>
		<%= render "users/form" %>
	</div>
</section>